<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/img/logo2.svg" />

    {{!-- css --}}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/pedidos.css">
    <link rel="stylesheet" href="/css/adicionar.css">
    <link rel="stylesheet" href="/css/detalhes.css">
    

    {{!-- fontes --}}
    <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    {{!-- title --}}
    <title>Fabulous Pizzaria</title>
</head>

<body>
    <div class="container">
        {{{body}}}
    </div>

</body>

</html>