<section class="adicionarPedido">

  <div class="titulo-menu" style="margin-top: 3vw;">
    <img style="margin-right: 1.5vw;" class="starcolor-date" src="/img/icon/redStar.svg" alt="" />

    <h1>Adicionar Pedidos</h1>

    <img style="margin-left: 1.5vw;" class="starcolor-date" src="/img/icon/redStar.svg" alt="" />
  </div>

  <div class="parag">
    <p>Faça seu pedido e aproveite nossas deliciosas pizzas!</p>
  </div>

  <div class="formulario">
    <form action="/pedidos/adicionarpedidos" method="post">
      <div class="partUm">
        <div class="escolhaSabor">
          <label for="select"><span style="color: #CE2B37;  margin-right: 0.5vw;">*</span> Escolha o sabor:</label>
          <input type="text" name="sabor" id="sabor" list="sabores" placeholder="Informe o sabor da sua pizza" required>
          <datalist id="sabores">
            <option value="Margherita"></option>
            <option value="Capricciosa"></option>
            <option value="Diavola"></option>
            <option value="Quattro Formaggi"></option>
            <option value="Portuguesa"></option>
            <option value="Pepperoni"></option>
            <option value="Palmito"></option>
            <option value="Frango com catupiry"></option>
            <option value="Romeu e Julieta"></option>
            <option value="Sensação"></option>
            <option value="Banoffe"></option>
          </datalist>
        </div>

        <div class="clientName">
          <label for="client"><span style="color: #CE2B37;  margin-right: 0.5vw;">*</span> Nome completo:</label>
          <input type="text" id="client" name="nomecliente" required autocomplete="off"
            placeholder="Digite o seu nome, ou da pessoa que irá receber" />
        </div>

        <div class="telephone">
          <label for="tell"><span style="color: #CE2B37;  margin-right: 0.5vw;">*</span> Telefone/Celular:</label>
          <input type="number" id="tell" name="telefone" required autocomplete="off" maxlength="11" minlength="11"
            placeholder="(00) 0000-000" />
        </div>
      </div>

      <div class="addressDelivery">
        <p><span style="color: #CE2B37; margin-right: 0.5vw;">*</span> Endereço:</p>
        <label for="adress">Nome da rua:</label>
        <input type="text" id="road" name="rua" required autocomplete="off" placeholder="Informe o nome da sua rua" />
        
        <div class="localizacao">

          <div class="label-loc">

            <label for="adress">Nome do bairro:</label>
            <label for="adress" id="numCasa">Número da casa:</label>

          </div>

          <div class="input-loc">
            <input type="text" id="neighborhood" name="bairro" required autocomplete="off"
            placeholder="Informe o nome do seu bairro" />
          
          <input style="margin-left: 7.5vw;" type="number" id="number" name="numerocasa" required autocomplete="off" placeholder="000"
            oninput="if(this.value.length > 4) this.value = this.value.slice(0, 4);" />
          </div>
          
        </div>
      </div>

      <div class="formPayment">
        <label for="payment"><span style="color: #CE2B37;  margin-right: 0.5vw;">*</span> Forma de pagamento:</label>
        <input type="text" id="payment" name="pagamento" list="opt-payment"
          placeholder="Selecione sua forma de pagamento" required />
        <datalist id="opt-payment">
          <option value="Crédito"></option>
          <option value="Débito"></option>
          <option value="Pix"></option>
          <option value="Dinheiro"></option>
        </datalist>
      </div>

      <div class="observation">
        <label for="obs">Observação:</label>
        <input type="text" id="text" name="obs" autocomplete="off"
          placeholder="Em caso de alterações ou recados deixe sua observação" />
      </div>

      <div class="botao">
        <button> CONFIRMAR PEDIDO</button>
      </div>
    </form>
  </div>

</section>

<footer>
    <div class="footer">
      <div class="footer-img">
        <img src="/img/title.svg" alt="" />
      </div>

      <div class="navbar" style="margin-top: -3vw;">
        <ul>
          <li><a id="inicio" href="/">INÍCIO</a></li>
          <li><a id="menu" href="/menu">MENU</a></li>
          <li><a id="pedidos" href="/pedidos">PEDIDOS</a></li>
        </ul>
      </div>

      <div class="redes-sociais">
        <img src="/img/whatsapp.svg" alt="" />
        <img src="/img/instagram.svg" alt="" />
        <img src="/img/facebook.svg" alt="" />
        <img src="/img/twitter.svg" alt="" />
      </div>

      <div class="legal">
        <p>© 2024 Fabulous Pizzaria. Todos os direitos reservados.</p>
      </div>

    </div>
  </footer>