<h1>editar</h1>

<form action="/detalhes/update" method="post">
    <input type="hidden" name="PedidoId" value="{{listaDetalhes.PedidoId}}">

        <label for="sabor">Sabor da pizza:</label>
            <input style="background: #000;"
                type="text" 
                name="sabor" 
                id="sabor" 
                readonly
                value="{{listaDetalhes.sabor}}"
            >

        <label for="client">Nome completo:</label>
            <input style="background: #000;"
                type="text"
                class="form-control"
                id="cliente"
                name="nomecliente"
                value="{{listaDetalhes.nomecliente}}"
                required
            >

        <button type="submit">enviar</button>

</form>