<div class="container">
    <header>
        <div class="header">
            <a href="/">
                <img src="/img/logo.svg" alt="">
            </a>

            <ul class="navbar">
                <li><a href="/"></a>INÍCIO</li>
                <li><a href=""></a>CATÁLOGO</li>
            </ul>
        </div>
        
    </header>
</div>