<div class="container">
    <header>
        <div class="header">

            <div class="contact">
                <img class="map" src="/img/icon/map.svg" alt="">
                <p>Avenida Brigadeiro, 4700 Jardim Paulista, São Paulo</p>
                <img class="starcolor" src="/img/icon/redStar.svg" alt="">
                <img class="fone" src="/img/icon/fone.svg" alt="">
                <p class="number">(11) 94002-8922</p>

            </div>

            <div class="hr">
                <hr>
            </div>

            <div class="navbar">
                <ul>
                    <li><a href="/"></a>INÍCIO</li>
                    <li><a href=""></a>MENU</li>
                    <li><a href=""></a>SOBRE</li>
                    <li><a href=""></a>PEDIDOS</li>
                </ul>
            </div>

            <div class="name">
                <img src="/img/title.svg" alt="">
            </div>

            <div class="start">
                <h1>Sofisticação em <br> forma de fatia</h1>

                <p>Venha nos visitar, um lugar <span style="color: #CE2B37;">aconchegante </span> e <span
                        style="color: #009246;">elegante</span></p>

                <button class="button">CONHEÇA NOSSO MENU</button>

            </div>

            <div class="data">
                <img class="starcolor-date" src="/img/icon/redStar.svg" alt="">
                <p>DESDE 1987</p>
                <img class="starcolor-datedir" src="/img/icon/redStar.svg" alt="">
            </div>

        </div> {{!-- Fechando div Header --}}

    </header>

    <section class="sessao1">

        <div class="escolher">
            <h1>Por que nos escolher?</h1>
        </div>

        <div class="enfeite">
            <span class="reta1">
                <hr>
            </span>
            <img class="starcolor-date" src="/img/icon/redStar.svg" alt="">
            <span class="retaMeio">
                <hr>
            </span>
            <img style="margin-left: 0.7vw !important; margin-right:0.1vw !important;" class="starcolor-date"
                src="/img/icon/redStar.svg" alt="">
            <span class="reta2">
                <hr>
            </span>
        </div>

        <div class="cards">

            <div class="card">
                <img src="/img/image1.svg" alt="">
                <div class="cartao">
                    <h4>Ingredientes frescos</h4>
                    <p>A qualidade superior dos ingredientes <br> frescos proporciona uma experiência <br> gastronômica
                        única.</p>
                </div>
            </div>

            <div class="card2" style="margin-top: 10vw;">
                <img src="/img/image2.svg" alt="">
                <div class="cartao2">
                    <h4>Chefs qualificados</h4>
                    <p> Nossos chefs altamente qualificados <br> garantem uma experiência gastronômica <br> excepcional
                        com ingredientes frescos.</p>
                </div>
            </div>

            <div class="card3">
                <img src="/img/image3.svg" alt="">
                <div class="cartao3">
                    <h4>Entrega garantida</h4>
                    <p>Entregamos nossos sabores <br> excepcionais em qualquer lugar, <br> garantindo frescor e
                        qualidade em cada pedido.</p>
                </div>
            </div>

        </div>

    </section>

    <section class="banner">
        <div class="text">
            <h1 class="direita">Pizzas artesanais feitas <span style="color: #009246;">do zero,</span></h1>
            <h1 class="esquerda">com <span style="color: #CE2B37;">amor</span> em cada detalhe.</h1>
        </div>
    </section>

    <section class="menu">
        <div class="sabores">
            <h1>Sabores tradicionais, mas com <br> um toque especial</h1>
        </div>

        <div class="enfeite">
            <span class="reta1">
                <hr>
            </span>
            <img class="starcolor-date" src="/img/icon/redStar.svg" alt="">
            <span class="retaMeio">
                <hr>
            </span>
            <img style="margin-left: 0.7vw !important; margin-right:0.1vw !important;" class="starcolor-date"
                src="/img/icon/redStar.svg" alt="">
            <span class="reta2">
                <hr>
            </span>
        </div>

        <div class="opcao">
            <div class="quadrado">
                <div class="margherita">
                    <h2>Margherita</h2>
                    <p>Mozzarella fiordilatte, <br> tomate, azeite e <br> manjericão.</p>
                </div>
                <div class="imagem1">
                    <img src="/img/margherita.svg" alt="">
                </div>
            </div>

            <div class="quadrado2">
                <div class="imagem2">
                    <img src="/img/capricciosa.svg" alt="">
                </div>
                <div class="capricciosa">
                    <h2>Capricciosa</h2>
                    <p>Alcachofra, funghi, <br> azeitonas pretas e <br> presunto cru</p>
                </div>
            </div>

            <div class="quadrado3">
                <div class="diavola">
                    <h2>Diavola</h2>
                    <p>Molho de tomate, muçarela de búfala, manjericão, salame picante e azeite picante.</p>
                </div>
                <div class="imagem3">
                    <img src="/img/diavola.svg" alt="">
                </div>
            </div>
        </div>

        <div class="button-menu">
            <button class="menu-btn">
                VEJA NOSSO MENU COMPLETO 
            </button>
        </div>

        <div class="enfeite">
            <span class="reta1">
                <hr>
            </span>
            <img class="starcolor-date" src="/img/icon/redStar.svg" alt="">
            <span class="retaMeio">
                <hr>
            </span>
            <img style="margin-left: 0.7vw !important; margin-right:0.1vw !important;" class="starcolor-date"
                src="/img/icon/redStar.svg" alt="">
            <span class="reta2">
                <hr>
            </span>
        </div>

    </section>

</div>