<div class="container">

    <header>

        <div class="header-menu">{{!-- div header --}}

            <div class="navbar">
                <ul>
                    <li><a id="inicio" href="/">INÍCIO</a></li>
                    <li><a id="menu" href="/menu">MENU</a></li>
                    <li><a id="pedidos" href="/pedidos">PEDIDOS</a></li>
                </ul>

            </div>


            <div class="name">
                <img src="/img/title.svg" alt="">
            </div>

            <div class="start">
                <h1>Conheça nosso <br> menu </h1>

                <p>Saboreie nossas pizzas <span style="color: #CE2B37;">artesanais </span> e <span
                        style="color: #009246;">tradicionais</span></p>

            </div>

            <div class="button">
                <a href="/pedidos">FAÇA SEU PEDIDO</a>
            </div>

        </div> {{!-- fechando div header --}}

    </header>
    
    <section class="preferidas">

        <div class="titulo-menu">
            <img style="margin-right: 1.5vw;" class="starcolor-date" src="/img/icon/redStar.svg" alt="">

            <h1>As preferidas</h1>

            <img style="margin-left: 1.5vw;" class="starcolor-date" src="/img/icon/redStar.svg" alt="">
        </div>

        <div class="cardapio">

            <div class="pizza">

                <div class="info">

                    <div class="text-menu">
                        <h2>Margherita</h2>
                        <p>Mozzarella fiordilatte, tomate, azeite e manjericão.</p>
                        <p class="preco">
                            R$45,00
                        </p>
                    </div>

                    <div class="img-menu">

                        <img src="/img/margherita1.svg" alt="">

                    </div>
                </div>

            </div>

            <div class="pizza">
                <div class="info">
                    <div class="text-menu">
                        <h2>Capricciosa</h2>
                        <p>Alcachofra, funghi, azeitonas pretas e presunto cru</p>
                        <p class="preco">
                            R$60,00
                        </p>
                    </div>

                    <div class="img-menu">
                        <img src="/img/capricciosa1.svg" alt="">
                    </div>
                </div>

            </div>

            <div class="pizza">
                <div class="info">
                    <div class="text-menu">
                        <h2>Diavola</h2>
                        <p>Molho de tomate, muçarela de búfala, manjericão, salame picante e azeite picante.</p>
                        <p class="preco">
                            R$65,00
                        </p>
                    </div>
                    <div class="img-menu">
                        <img src="/img/diavola1.svg" alt="">
                    </div>
                </div>

            </div>

        </div>

        <div class="enfeite">
            <span class="reta1">
                <hr>
            </span>
            <img class="starcolor-date" src="/img/icon/redStar.svg" alt="">
            <span class="retaMeio">
                <hr>
            </span>
            <img style="margin-left: 0.7vw !important; margin-right:0.1vw !important;" class="starcolor-date"
                src="/img/icon/redStar.svg" alt="">
            <span class="reta2">
                <hr>
            </span>
        </div>

    </section>

    <section class="tradicionais">
        <div class="titulo-menu">
            <img style="margin-right: 1.5vw;" class="starcolor-date" src="/img/icon/redStar.svg" alt="">

            <h1>Tradicionais</h1>

            <img style="margin-left: 1.5vw;" class="starcolor-date" src="/img/icon/redStar.svg" alt="">
        </div>

        <div class="cardapio">
            <div class="pizza">
                <div class="info">
                    <div class="text-menu">
                        <h2 style="font-size: 2vw !important;">Quattro Formaggi</h2>
                        <p>Mozzarella, gorgonzola, parmesão e queijo fontina.</p>
                        <p class="preco">
                            R$55,00
                        </p>
                    </div>
                    <div class="img-menu">
                        <img src="/img/quattroFormaggi.svg" alt="">
                    </div>
                </div>

            </div>

            <div class="pizza">
                <div class="info">
                    <div class="text-menu">
                        <h2 style="font-size: 2vw !important;">Portuguesa</h2>
                        <p>Ovos, cebola, azeitona, ervilha, mozzarella e presunto.</p>
                        <p class="preco">
                            R$45,00
                        </p>
                    </div>
                    <div class="img-menu">
                        <img src="/img/portuguesa.svg" alt="">
                    </div>
                </div>

            </div>

            <div class="pizza">
                <div class="info">
                    <div class="text-menu">
                        <h2 style="font-size: 2vw !important;">Pepperoni</h2>
                        <p>Mozzarella, pepperoni e um adicional de parmesão.</p>
                        <p class="preco">
                            R$60,00
                        </p>
                    </div>
                    <div class="img-menu">
                        <img src="/img/pepperoni.svg" alt="">
                    </div>
                </div>

            </div>

            <div class="pizza">
                <div class="info">
                    <div class="text-menu">
                        <h2 style="font-size: 2vw !important;">Palmito</h2>
                        <p>Palmito, mozzarella, catupiry, parmesão e champignon.</p>
                        <p class="preco">
                            R$65,00
                        </p>
                    </div>
                    <div class="img-menu">
                        <img src="/img/palmito.svg" alt="">
                    </div>
                </div>

            </div>

            <div class="pizza">
                <div class="info">
                    <div class="text-menu">
                        <h2 style="font-size: 2vw !important;">Frango com catupiry</h2>
                        <p>Frango desfiado com catupiry da casa.</p>
                        <p class="preco">
                            R$70,00
                        </p>
                    </div>
                    <div class="img-menu">
                        <img src="/img/frangocomcatupiry.svg" alt="">
                    </div>
                </div>

            </div>

        </div>

    </section>

    <section class="tradicionais">

        <div class="titulo-menu">
            <img style="margin-right: 1.5vw;" class="starcolor-date" src="/img/icon/redStar.svg" alt="">

            <h1>Pizzas Doces</h1>

            <img style="margin-left: 1.5vw;" class="starcolor-date" src="/img/icon/redStar.svg" alt="">
        </div>

        <div class="cardapio">
            <div class="pizza">
                <div class="info">
                    <div class="text-menu">
                        <h2 style="font-size: 2vw !important;">Romeu e Julieta</h2>
                        <p>Mozzarella, goiabada e Canela-da-china em pó .</p>
                        <p class="preco">
                            R$55,00
                        </p>
                    </div>
                    <div class="img-menu">
                        <img src="/img/romeuejulieta.svg" alt="">
                    </div>
                </div>

            </div>

            <div class="pizza">
                <div class="info">
                    <div class="text-menu">
                        <h2 style="font-size: 2vw !important;">Sensação</h2>
                        <p>Brigadeiro tradicional
                            com pedaços de
                            morango</p>
                        <p class="preco">
                            R$55,00
                        </p>
                    </div>
                    <div class="img-menu">
                        <img src="/img/brigadeirocommorango.svg" alt="">
                    </div>
                </div>

            </div>

            <div class="pizza">
                <div class="info">
                    <div class="text-menu">
                        <h2 style="font-size: 2vw !important;">Banoffe</h2>
                        <p>Mussarela, banana,
                            canela e açúcar.</p>
                        <p class="preco">
                            R$65,00
                        </p>
                    </div>
                    <div class="img-menu">
                        <img src="/img/banoffe.svg" alt="">
                    </div>
                </div>

            </div>



    </section>

    <footer>
        <div class="footer">
            <div class="footer-img">
                <img src="/img/title.svg" alt="">
            </div>

            <div class="navbar" style="margin-top: -3vw;">
                <ul>
                    <li><a id="inicio" href="/">INÍCIO</a></li>
                    <li><a id="menu" href="/menu">MENU</a></li>
                    <li><a id="pedidos" href="/pedidos">PEDIDOS</a></li>
                </ul>
            </div>

            <div class="redes-sociais">
                <img src="/img/whatsapp.svg" alt="">
                <img src="/img/instagram.svg" alt="">
                <img src="/img/facebook.svg" alt="">
                <img src="/img/twitter.svg" alt="">
            </div>

            <div class="legal">
                <p>© 2024 Fabulous Pizzaria. Todos os direitos reservados.</p>
            </div>

        </div>
    </footer>

</div>

<script>
    console.log()
    const path = window.location.pathname;
    if (path === '/menu') {
        document.getElementById("menu").className = "active";
    }

</script>