<div class="container">

    <header>

        <div class="header-menu">{{!-- div header --}}

            <div class="navbar-menu">
                <ul>
                    <li><a id="inicio" href="/">INÍCIO</a></li>
                    <li><a id="menu" href="/menu">MENU</a></li>
                    <li><a id="sobre" href="/">SOBRE</a></li>
                    <li><a id="pedidos" href="">PEDIDOS</a></li>
                </ul>

            </div>


            <div class="name">
                <img src="/img/title.svg" alt="">
            </div>

            <div class="start">
                <h1>Conheça nosso <br> menu </h1>

                <p>Saboreie nossas pizzas <span style="color: #CE2B37;">artesanais </span> e <span
                        style="color: #009246;">tradicionais</span></p>

            </div>

            <div class="data-menu">
                <img class="starcolor-date" src="/img/icon/redStar.svg" alt="">
                <p>DESDE 1987</p>
                <img class="starcolor-datedir" src="/img/icon/redStar.svg" alt="">
            </div>

        </div> {{!-- fechando div header --}}

    </header>

</div>

<script>
    console.log()
    const path = window.location.pathname;
    if (path === '/menu') {
        document.getElementById("menu").className = "active";
    }

</script>