<div class="container" style="color: white;">

     <header>

        <div class="cabecalho">{{!-- div header --}}

            <div class="navbar">
                <ul>
                    <li><a id="inicio" href="/">INÍCIO</a></li>
                    <li><a id="menu" href="/menu">MENU</a></li>
                    <li><a id="sobre" href="/">SOBRE</a></li>
                    <li><a id="pedidos" href="/pedidos">PEDIDOS</a></li>
                </ul>

            </div>

            <div class="paragrafo">
                <p>Navegue pelo nosso catálogo, selecione seus itens preferidos e <br> finalize seu pedido
                 em poucos passos. Sua satisfação é nossa<br> prioridade, e estamos aqui para garantir que 
                 sua experiência de <br> compra seja a melhor possível.</p>
            </div>

            <div class="button">
                <a href="/menu">CONFIRA NOSSO MENU</a>
            </div>

        </div> {{!-- fechando div header --}}

    </header>

    <h1>Pedidos</h1>

   <h2>Faça seu pedido!</h2>

   <a href="/adicionar">adicionar novo pedido</a>


</div>