<div class="container" style="color: white;">

  <header>

    <div class="header">{{! div header }}

      <div class="navbar">
        <ul>
          <li><a id="inicio" href="/">INÍCIO</a></li>
          <li><a id="menu" href="/menu">MENU</a></li>
          <li><a id="pedidos" href="/pedidos">PEDIDOS</a></li>
        </ul>
      </div>

      <div class="name">
        <img src="/img/title.svg" alt="" />
      </div>

      <div class="start">
        <h1>Faça seus <br /> pedidos </h1>

        <p>Finalize seu<span style="color: #CE2B37;"> pedido </span>
          em
          <span style="color: #009246;">poucos</span>
          passos
        </p>

      </div>

      <div class="button">
        <a href="/menu">CONFIRA NOSSO MENU</a>
      </div>

    </div>
    {{! fechando div header }}

  </header>

  <section class="pedidos">

    <div class="titulo-menu">
      <img style="margin-right: 1.5vw;" class="starcolor-date" src="/img/icon/redStar.svg" alt="" />

      <h1>Meus Pedidos</h1>

      <img style="margin-left: 1.5vw;" class="starcolor-date" src="/img/icon/redStar.svg" alt="" />
    </div>

    <div class="button">
      <a href="/adicionar">ADICIONAR PEDIDO</a>
    </div>
  </section>

  <section class="pedidos-tabela">
    <div class="down">
      <table class="conteudo">
        <thead>
          <tr>
            <th>Pedido ID</th>
            <th>Sabor</th>
            <th>Detalhes</th>
          </tr>
        </thead>
        <tbody>
          {{#each lista}}
          <tr>
            <td>{{this.PedidoId}}</td>
            <td class="sabor">{{this.sabor}}</td>
            <td class="botoes">
              <div class="button-pedidos">
                <a href="/lista/{{this.PedidoId}}">Detalhes</a>
              </div>
              <div class="remove">
                <form  action="/pedidos/remove/{{this.PedidoId}}" method="post">
                  <input type="submit" value="Remover" />
                </form>
              </div>
            </td>
           
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </section>

  <footer>
    <div class="footer">
      <div class="footer-img">
        <img src="/img/title.svg" alt="" />
      </div>

      <div class="navbar" style="margin-top: -3vw;">
        <ul>
          <li><a id="inicio" href="/">INÍCIO</a></li>
          <li><a id="menu" href="/menu">MENU</a></li>
          <li><a id="pedidos" href="/pedidos">PEDIDOS</a></li>
        </ul>
      </div>

      <div class="redes-sociais">
        <img src="/img/whatsapp.svg" alt="" />
        <img src="/img/instagram.svg" alt="" />
        <img src="/img/facebook.svg" alt="" />
        <img src="/img/twitter.svg" alt="" />
      </div>

      <div class="legal">
        <p>© 2024 Fabulous Pizzaria. Todos os direitos reservados.</p>
      </div>

    </div>
  </footer>

</div>


<script>
    console.log()
    const path = window.location.pathname;
    if (path === '/pedidos') {
        document.getElementById("pedidos").className = "active";
    }

</script>
