.adicionarPedido {
  color: #FFFFFF;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

input{
  padding: 10px;
  color: #FFFFFF;
}

input:focus{
  outline: none;
}

form label {
  font-size: 1.3vw;
}

.adicionarPedido {
  font-family: "Yantramanav", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5vw;
}


.parag {
  margin-bottom: 5vw;
  margin-top: 2vw;
}

.parag p {
  font-size: 1.5vw;
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  font-family: "Yantramanav", sans-serif;
}

.formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.formulario form>div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.escolhaSabor label {
  margin-bottom: 0.5vw;
}

.clientName label {
  margin-bottom: 0.5vw;
}

.telephone label {
  margin-bottom: 0.5vw;
}

.clientName,
.telephone,
.escolhaSabor {
  margin-bottom: 4vw;
  display: flex;
  flex-direction: column;
}

.addressDelivery p {
  font-size: 1.8vw;
  font-weight: 600;
  margin-bottom: 2vw;
}

.addressDelivery label {
  margin-bottom: 0.5vw;
}

.formPayment label {
  margin-bottom: 0.5vw;
}

.observation label {
  margin-bottom: 0.5vw;
}

.formPayment {
  margin-bottom: 4vw;
}


.formulario input {
  background-color: #282828;
  border-color: #ffffff9c;
  border-width: 0.1vw;
  height: 3.5vw;
  border-radius: 0.3vw;
}

.localizacao {
  margin-top: 3vw;
  margin-bottom: 2vw;
}

.label-loc {
  margin-bottom: 1vw;
}

#numCasa {
  margin-left: 32vw;
}

.input-loc input {
  width: 33vw;
  margin-bottom: 1vw;
}

.botao {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 5vw;
  margin-bottom: 3vw;
}

.botao button {
    padding: 1.5vw 6vw 1.5vw 6vw;
    background-color: transparent;
    text-decoration: none;
    border-color: #FFFFFF;
    border: 0.2vw solid;
    cursor: pointer;

    /* fonte */
    font-family: "Yantramanav", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1.3vw;
    transition: 0.8s;
}

.botao button:hover {
  background-color: rgba(81, 81, 81, 50%);
  border-color: rgba(255, 255, 255, 0.336);
}