/* editando o header do menu */
.header-menu {
    background-image: url("/img/fundo-menu.svg");
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    width: 100vw;
    height: 45.5vw;

}

/* navbar */
.navbar ul {
    display: flex;
    justify-content: center;
    position: relative;
}

.navbar ul li, a {
    position: relative;
    margin-left: 2vw;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Yantramanav", sans-serif;
    font-size: 1.6vw;
    font-weight: bold;
    list-style-type: none;
    cursor: pointer;
    transition: color .3s;
    margin-top: 6vw;
}

.navbar a:hover{
    color: rgba(215, 207, 207, 0.872);
}

.navbar ul li a:after {
    background-color: #CE2B37;
    bottom: 0;
    content: "";
    height: 3px;
    position: absolute;
    transition: width .3s, left .3s;
    width: 0;
    left: 50%;
}

.navbar li a:hover:after {
    left: 0;
    width: 100%;
}

.navbar li.active, a:after {
    left: 2vw;
    width: 100%;
}

.navbar a.active  {
    color: #CE2B37;
}
/* desde 1987 */

.data-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
}

.data-menu p {
    color: #FFFFFF;
    font-size: 1.5vw;
    font-family: "Yantramanav", sans-serif;
    font-weight: bold;
}

.starcolor-date{
    width: 1.5vw;
    margin-right: 0.5vw;
}

.starcolor-datedir{
    width: 1.5vw;   
    margin-left: 0.5vw;
}

/* titulo menu */

.titulo-menu {
    display: flex;
    justify-content: center;
    margin-top: 8vw;
}

.titulo-menu h1 {
    font-family: 'FontPearl';
    color: #FFFFFF;
    font-weight: 200;
    font-size: 2.5vw;
}

.titulo-menu img {
    width: 2.3vw;
    margin-bottom: 0.5vw;
}

/* cards pizzas */

.cardapio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vw;
    color: #FFFFFF;
}

.pizza {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 59%;
    border-radius: 4%;
    background-color: #282828;
    margin-bottom: 3vw;
    display: flex;

}

.info {
    display: flex;
}

.text-menu {
    padding: 2.5vw;
}

.img-menu {
    width: 30vw;
    height: 21.35vw;
}
.img-menu img {
    width: 30vw;

} 

.text-menu h2 {
    font-family: 'FontPearl';
    font-weight: 100;
    font-size: 2.5vw;
}

.text-menu p {
    margin-top: 1.2vw;
    font-family: "Yantramanav", sans-serif;
    text-align: start;
    font-size: 1.8vw;
    font-weight: 300;

}

.preco {
    color: #CE2B37;
    margin-top: 1.5vw !important;
    font-weight: 500 !important;
    font-size: 2.5vw !important;
}


