.cabecalho{
    background-image: url("/img/fundo-pedidos.svg");
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    width: 100vw;
    height: 45.5vw;
}

.paragrafo p{
    text-align: center;
    font-size: 2vw;
    margin-top: 7vw;
    font-family: "Yantramanav", sans-serif;
}

.container{
    color: #fff;
}