.cabecalho {
    background-image: url("/img/fundo-pedidos.svg");
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    width: 100vw;
    height: 45.5vw;
}

.pedidos-tabela {
    display: flex;
    flex-direction: column;
    margin-top: 8vw;

    /* fontes */
    font-family: "Yantramanav", sans-serif;
    font-size: 1.8vw;
    color: #FFFFFF;
    font-weight: 400;
}


.linha hr {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    width: 85vw;
    padding: 0;
    margin: auto;
}

.down {
    display: flex;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 3vw;
}

/* Estilo para a tabela */
.conteudo {
    width: 85%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Estilo para o cabeçalho */
.conteudo th {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

/* Estilo para as células */
.conteudo td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

/* Estilo para o link "Detalhes" */
.button-pedidos a {
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

/* Estilo para o link "Remover" */
.remove input[type="submit"] {
    padding: 1vw 2vw 1vw 2vw;
    margin-right: 4vw;
    border-radius: 4px;
    margin: auto;
    background-color: transparent;
    text-decoration: none;
    border-color: #FFFFFF;
    border: 0.2vw solid;
    text-align: center;

    font-size: 1.5vw;

    transition: 0.8s;
}

/* Estilo para o link "Remover" quando o mouse passa sobre ele */
.remove input[type="submit"]:hover {
    background-color: rgba(81, 81, 81, 50%);
    border-color: rgba(255, 255, 255, 0.336);
}

.botoes {
    display: flex;
}

.button-pedidos {
    position: relative;
    cursor: pointer;
    margin-right: 3vw;
}

.button-pedidos a {
    padding: 1vw 2vw 1vw 2vw;
    margin-right: 4vw;
    margin: auto;
    background-color: transparent;
    text-decoration: none;
    border-color: #FFFFFF;
    border: 0.2vw solid;
    text-align: center;

    font-size: 1.5vw;

    transition: 0.8s;
}

.button-pedidos a:hover {
    background-color: rgba(81, 81, 81, 50%);
    border-color: rgba(255, 255, 255, 0.336);
}


